@charset "utf-8";

img {
    max-width: 100%;
}


.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    color: #666666;
    text-align: center;
    /* margin-inline: auto; */
    /* margin: auto; */


    @media (max-width:767px) {
        max-width: 767px;
        padding: 0;
    }

}

p br {
    line-height: 7;
}

body {
    font-family: "Noto Sans JP", sans-serif;

    @media (max-width:767px) {
        font-size: 16px;
    }
}

header {
    display: flex;
    padding: 16px 40px 0 40px;
    gap: auto;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;
        padding: 16px 0 24px;
    }

    .headerbig {
        margin-left: auto;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        color: #a6865f;

        @media (max-width: 767px) {
            margin: auto;
        }
    }

    .nav {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-right: auto;
        text-decoration: none;
        /* color: #666666; */

        @media (max-width:767px) {
            gap: 24px;
        }
    }

    a {
        color: black;
    }

    .beerpic {
        margin-inline: calc(50% - 50vw);
        /* width: 100%;
        max-width: 1120px;
        margin: 0 auto; */

        img {
            width: 100%;
        }


        @media (max-width:767px) {

            /* margin-inline: calc(50% - 50vw); */
        }
    }
}

main {
    section {
        line-height: 200%;
    }
}

h1 {
    font-size: 40px;
    color: #a6865f;
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
    margin-right: auto;
}

h2 {
    font-size: 40px;
    color: black;

    @media (max-width:767px) {
        font-size: 32px;
    }
}

h3 {
    font-size: 18px;
    color: black;

    @media (max-width:767px) {
        font-size: 14px;
    }
}

.con-intro p {
    font-size: 18px;
    gap: 32px;
}

.con-aboutus {
    display: flex;
    /* text-align: left; */
    gap: calc((1/12)/100%);

    @media (max-width:767px) {
        flex-direction: column;
    }

    .ab-verti {
        /* margin-left: calc((1/12)/100%); */
        display: flex;
        text-align: left;
        flex-direction: column;
        /* max-width: calc((521/1120))/100%; */
        /* align-items: center; */
        /* padding: 10% 0; */

        em {
            height: 64px;
            width: 244px;
            background-color: rgb(249, 245, 0);
            margin: block start 64px;
            border-radius: 50px;
            margin-bottom: auto;
        }

        .button {
            height: 60px;
            width: 244px;
            font-size: 24px;
            background: linear-gradient(#c49f72 0%, #a6865f 100%);
            margin: block start 64px;
            border-radius: 10px;
            margin-bottom: auto;
            border: 2px solid;
            white-space: nowsrap;
            a{
                width: 100%;
                height: 1000%;
            }

            img {
                font-size: small;
                margin-right: 5%;
            }
        }

    }
}

.con-gallery {
    max-width: 1120px;

    h2 {
        display: block;
        text-align: left;
    }

    h3 {
        display: block;
        text-align: left;
    }

    ul li {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        /* list-style: armenian; */
        padding: 0;

        flex: 1 1 calc(33.333% - 32px);
    }

    ul {
        @media (max-width:767px) {
            flex-direction: column;
        }
    }

}

footer {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}